.headerbanner
{
    background-image: url("src/Images/bg.jpg");
    height: 94vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbanner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.headerbanner .caption
{
    position: relative;
    z-index: 20;
    text-align: center;
    color: #ffffff;
}
/* Media Query start */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .headerbanner {
        background-repeat: no-repeat;
        background-size: 100% 94vh;
        
    }
    .headerbanner::after {
        height: 104vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 767px){
    .headerbanner {
        background-repeat: no-repeat;
        background-size: 100% 94vh;
    }
    .headerbanner::after {
        height: 104vh;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width:991px ) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and(min-width: 1199px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (main-width: 1200px) {

}