.skillsicon
{
    width: 100%;
}
.skillslist
{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6%;
}
.skillpadding
{
    padding: 2% !important;
}
.skillslisttechno
{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6%;
}
.skillslisttechno
{
    padding: 2% !important;
}
@media only screen and (max-width: 599px) {
    .skillsicon {
        width: 75% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 767px){
    .skillsicon {
        width: 75% !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width:991px ) and (min-width: 768px) {
    .skillsicon {
        width: 75% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and(min-width: 1199px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}